<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.study.mybatis.domain.User" alias="user"/>
		<typeAlias type="com.study.mybatis.domain.Book" alias="book"/>
		<typeAlias type="com.study.mybatis.domain.Author" alias="author"/>
		<typeAlias type="com.study.mybatis.domain.Post" alias="post"/>
		<typeAlias type="com.study.mybatis.typehandler.GenericEnumHandler" alias="GenericEnumHandler"/>
	</typeAliases>
</configuration>