<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		配置元素要遵循以下顺序：
		properties,
		settings,
		typeAliases,
		typeHandlers,
		objectFactory,
		objectWrapperFactory,
		plugins,
		environments,
		databaseIdProvider,
		mappers
	 -->
	<properties resource="db.properties">
		<property name="test.jdbc.password" value="root1"/>
	</properties>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!-- 
		配置别名，避免输入全限定包名的不便
	 -->
	<typeAliases>
		<typeAlias type="com.study.mybatis.domain.User" alias="user"/>
		<typeAlias type="com.study.mybatis.domain.Book" alias="book"/>
		<typeAlias type="com.study.mybatis.domain.Author" alias="author"/>
		<typeAlias type="com.study.mybatis.domain.Post" alias="post"/>
		<typeAlias type="com.study.mybatis.typehandler.GenericEnumHandler" alias="GenericEnumHandler"/>
	</typeAliases>
	<typeHandlers>
		<!-- 
			针对枚举类型的类型转换，mybatis提供了两个默认的实现：
			org.apache.ibatis.type.EnumOrdinalTypeHandler
			org.apache.ibatis.type.EnumTypeHandler
			但其局限性也非常明显，EnumTypeHandler根据枚举name属性完成映射，EnumOrdinalTypeHandler根据ordinal属性完成映射
		 -->
	</typeHandlers>
	<!-- 配置数据源，默认开发环境数据源 -->
	<environments default="dev">
		<!-- 开发环境 -->
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${dev.jdbc.driver}"/>
				<property name="url" value="${dev.jdbc.url}"/>
				<property name="username" value="${dev.jdbc.username}"/>
				<property name="password" value="${dev.jdbc.password}"/>
			</dataSource>
		</environment>
		<!-- 测试环境 -->
		<environment id="test">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${test.jdbc.driver}"/>
				<property name="url" value="${test.jdbc.url}"/>
				<property name="username" value="${test.jdbc.username}"/>
				<property name="password" value="${test.jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="UserMapper.xml"/>
		<mapper resource="BookMapper.xml"/>
	</mappers>
</configuration>