<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mybatis.dao.UserDao">
	<resultMap type="user" id="user">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="telnumber" property="telNumber"/>
		<result column="email" property="email"/>
		<result column="active" property="active" typeHandler="GenericEnumHandler" javaType="com.study.mybatis.commenum.UserActiveStatusEnum"/>
		<result column="role" property="role" typeHandler="GenericEnumHandler" javaType="com.study.mybatis.commenum.UserRoleEnum"/>
		<result column="createtime" property="createTime"/>
	</resultMap>
	<select id="select" resultType="list" resultMap="user">
		<![CDATA[
			select * from t_useraccount
		]]>
	</select>
	<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		insert into t_useraccount 
			(username, password, telnumber, email, active, role, createtime) 
			values(#{username}, #{password}, #{telNumber}, #{email}, #{active, typeHandler=GenericEnumHandler}, #{role, typeHandler=GenericEnumHandler}, #{createTime})
		]]>
	</insert>
	<select id="selectOneByKey" resultMap="user">
		<![CDATA[
			select * from t_useraccount where id = #{id};
		]]>
	</select>
	<update id="update" parameterType="user">
		<![CDATA[
			update t_useraccount set email=#{email} where id=#{id}
		]]>
	</update>
	<delete id="delete">
		<![CDATA[
			delete from t_useraccount where id=#{id};
		]]>
	</delete>
	<!-- Dynamic sql -->
	<!-- if -->
	<select id="selectByCondition" parameterType="user" resultMap="user">
		select * from t_useraccount where 1=1 
		<if test="email != null">
			<bind name="email" value="'%' + _parameter.getEmail() + '%'"/>
			<!-- and email like CONCAT('%', #{email}, '%')  -->
			and email like #{email}
		</if>
		<!-- OGNL表达式  -->
		<if test="role != null and role.roleId != null">
			<!-- 或 role = #{role, typeHandler=GenericEnumHandler} -->
			and role = #{role.roleId} 
		</if>
	</select>
	<!-- choose when otherwise -->
	<select id="selectByCondition1" parameterType="user" resultMap="user">
		select * from t_useraccount where 1=1 
		<choose>
			<!-- 以下字段没有任何逻辑关系，只为了测试choose when的使用 -->
			<when test="email!=null">
				and email like CONCAT('%', #{email}, '%') 
			</when>
			<when test="role!=null and role.roleId != null">
				and role = #{role.roleId}
			</when>
			<otherwise>
				and email like '%%'
			</otherwise>
		</choose>
	</select>
	<!-- where -->
	<select id="selectByCondition2" parameterType="user" resultMap="user">
		select * from t_useraccount
		<where>
			<if test="email != null">
				and email like CONCAT('%', #{email}, '%')
			</if>
			<if test="role != null and role.roleId != null">
				or role = #{role.roleId}
			</if>
		</where>
	</select>
	<!-- trim -->
	<select id="selectByCondition3" parameterType="user" resultMap="user">
		select * from t_useraccount
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="email != null">
				and email like CONCAT('%', #{email}, '%')
			</if>
			<if test="role != null and role.roleId != null">
				or role = #{role.roleId}
			</if>
		</trim>
	</select>
	<!-- set -->
	<update id="update1" parameterType="user">
		update t_useraccount
		<set>
			<if test="email != null">email = #{email},</if>
			<if test="role != null and role.roleId != null">role = #{role.roleId}</if>
		</set>
		where id=#{id}
	</update>
	<!-- foreach array-->
	<select id="selectByIds" parameterType="list" resultMap="user">
		select * from t_useraccount
		<where>
			<!-- 参数为array -->
			<if test="array!=null and array.length>0">
				id in 
				<foreach collection="array" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- foreach list-->
	<select id="selectByIds1" parameterType="list" resultMap="user">
		select * from t_useraccount
		<where>
			<!-- 参数为list -->
			<if test="list!=null and list.size()>0">
				id in 
				<foreach collection="list" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- foreach multi list-->
	<select id="selectByRoleAndStatus" resultMap="user">
		select * from t_useraccount
		<where>
			<if test="param1!=null and param1.size() > 0">
				role in 
				<foreach collection="param1" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="param2!=null and param2.size() > 0">
				and active in 
				<foreach collection="param2" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- foreach map-->
	<select id="selectByRoleAndStatus1" resultMap="user">
		select * from t_useraccount
		<where>
			<if test="roleIds!=null and roleIds.size() > 0">
				role in 
				<foreach collection="roleIds" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="statusIds!=null and statusIds.size() > 0">
				and active in 
				<foreach collection="statusIds" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>